{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-12 col-lg-10 col-xl-8 text-center mx-auto mb-2">
      <img src="{% static 'images/hero-img.jpg' %}" class="img-fluid"
        alt="" aria-label="Hero Image">
        <section>
          <h1>Welcome to TrackMyJob</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Sed sit amet nisl sit amet libero interdum feugiat ut a odio. Proin tempor, orci vel pellentesque vehicula, eros elit blandit justo, vel sodales nulla ipsum non libero.</p>
          <p>Curabitur eget libero quis urna hendrerit sollicitudin. Nullam ac elit vel justo varius volutpat. Aliquam erat volutpat. Ut ac magna vitae nisl viverra aliquam. Etiam faucibus lorem eu velit commodo, at elementum odio vulputate.</p>
          <p>Quisque vitae ligula ut arcu laoreet sodales. Praesent imperdiet ipsum vitae sem tempus, vel lacinia quam iaculis. Vestibulum in eros orci. Cras varius orci id ligula malesuada, sed facilisis eros viverra. Integer dignissim tellus et sapien aliquet, sed fermentum lacus fermentum.</p>
          <p>Join us today and take the next step in your career journey!</p>
      </section>
      
    </div>
  </div>
</div>

{% endblock content %}