:root {
  --light-orange: #c1884e;
  --bright-orange: #bf6e15;
  --light-turqouise: #698c8e;
  --dark-turqouise: #305f6d;
  --light-gray: #f8f9fa;
  --charcoal: #263037;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
html {
  -ms-overflow-style: none;
  height: -webkit-fill-available;
  scrollbar-width: none;
  width: -webkit-fill-available;
}

body {
  color: var(--charcoal);
  font-family: "Lato", serif;
}

main {
  min-height: calc(100vh - 50px);
}

h1, h2, h3,
.logo-text,
.form-label {
  color: var(--dark-turqouise);
  font-family: "Poppins", serif;
}

.nav-link {
  color: var(--dark-turqouise);
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-link:hover {
  color: var(--bright-orange);
}

.nav-link.active {
  color: var(--light-orange)!important;
  font-weight: 700;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 4.5rem;
}

.logo-text {
  font-size: 1.5rem;
  font-weight: 600;
}

.logo-text:hover {
  color: var(--bright-orange)!important;
}

.user-status  {
  color: var(--dark-turqouise);
}

/* Contact page */
.contact-form {
  background: var(--light-gray);
}

.form-label {
  font-weight: 400;
}

input,
textarea {
  outline: 1px solid var(--light-gray);
  outline-width: thin;
}

/* Button */
.primary-btn {
  background-color: var(--bright-orange);
  font-family: "Poppins", serif;
  font-weight: 500;
}

.primary-btn:hover {
  background-color: var(--light-orange);
}