{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col text-center mx-auto mb-2">
      <h1>Dashboard</h1>
      <div class="d-flex flex-column align-items-center p-3">
        <form method="get" class="d-flex flex-wrap gap-3 align-items-center justify-content-center mb-3">
          <div class="d-flex flex-column">
            <label for="status">Status:</label>
            <select name="status" id="status">
              <option value="">All</option>
              {% for value, display in status_choices %}
              <option value="{{ value }}" {% if request.GET.status == value %}selected{% endif %}>{{ display }}</option>
              {% endfor %}
            </select>
          </div>
      
          <div class="d-flex flex-column">
            <label for="employment_type">Employment Type:</label>
            <select name="employment_type" id="employment_type">
              <option value="">All</option>
              {% for value, display in employment_type_choices %}
              <option value="{{ value }}" {% if request.GET.employment_type == value %}selected{% endif %}>{{ display }}</option>
              {% endfor %}
            </select>
          </div>
      
          <button class="secondary-btn button shadow btn mt-3" id="dash-btn" type="submit">Filter</button>
        </form>
      
        <div>
          <span class="total">Total applications:</span>
          <span>{{ total_applications }}</span>
        </div>
        <div>
          <span class="total">Total filtered:</span>
          <span>{{ total_applications_filtered }}</span>
        </div>
        <div></div>
          <a class="primary-btn button shadow btn mt-3" href="{% url 'add_application' %}">Add New Job</a>
        </div>
      </div>


      <!-- Dynamic Charts -->
      <div class="row justify-content-evenly py-3">
        <div class="chart col-12 col-md-4 rounded-3 mx-auto shadow p-3">
          <h4 class="text-center">Job Applications by Status</h4>
          <canvas id="statusChart"></canvas>
        </div>
        <div class="chart col-12 col-md-4 rounded-3 mx-auto shadow p-3">
          <h4 class="text-center">Job Applications by Employment Type</h4>
          <canvas id="employmentTypeChart"></canvas>
        </div>
      </div>

      <!-- Graph for Applications Over Time -->
      <div class="row justify-content-evenly py-3">
        <div class="chart col-12 col-md-4 mx-auto rounded-3 shadow p-3">
          <h4 class="text-center">Job Applications Over Time</h4>
          <canvas id="applicationsOverTimeChart"></canvas>
        </div>
      </div>

      <!-- Job Applications Table -->
          <div class="row">
            <div class="col mx-auto">
          <table class="dash-table rounded-3 shadow my-3">
            <thead class="p-2">
              <tr class="p-2">
                <th class="p-2">Company Name</th>
                <th>Position</th>
                <th>Status</th>
                <th class="p-2">Employment Type</th>
                <th><a class="table-link" href="?sort_by=draft_created&direction={{ new_direction }}">Draft Created</a></th>
                <th><a class="table-link" href="?sort_by=application_date&direction={{ new_direction }}">Application Date</a></th>
                <th><a class="table-link" href="?sort_by=application_deadline&direction={{ new_direction }}">Application Deadline</a></th>
                <th><a class="table-link" href="?sort_by=interview_date&direction={{ new_direction }}">Interview Date</a></th>
              </tr>
            </thead>
            <tbody class="p-3">
              {% for application in job_applications %}
              <tr>
                <td>{{ application.company_name }}</td>
                <td>{{ application.position }}</td>
                <td>{{ application.status }}</td>
                <td>{{ application.employment_type }}</td>
                <td>{{ application.draft_created }}</td>
                <td>{{ application.application_date|default:"No date set" }}</td>
                <td>{{ application.application_deadline|default:"No date set" }}</td>
                <td>{{ application.interview_date|default:"No date set" }}</td>
                <td><a class="progress-appl-view text-decoration-none fw-bold px-2" href="{% url 'application_detail' application.id %}">View</a></td>
                <td><a class="delete-appl-view text-decoration-none fw-bold px-2" data-bs-toggle="modal"
                  data-bs-target="#deleteModal{{ application.id }}">
                  Delete
               </a></td>
                <!-- Modal -->
                <div class="modal fade" id="deleteModal{{ application.id }}" tabindex="-1"
                  aria-labelledby="deleteModalLabel{{ application.id }}" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="deleteModalLabel{{ application.id }}">Confirm Deletion</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        Are you sure you want to delete this job application?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="secondary-btn button shadow mt-2 mb-3 btn" data-bs-dismiss="modal">Cancel</button>
                        <!-- Confirm deletion -->
                        <a href="{% url 'delete_application' application.id %}" class="delete-btn button shadow mt-2 mb-3 btn">Delete</a>
                      </div>
                    </div>
                  </div>
                </div>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
              <tr>
                <td colspan="5" class="empty-row"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // Chart for Job Applications by Status
  var statusData = {
    // Statuses as labels
    labels: Object.keys({{ status_count|safe }}),
    datasets: [{
      label: 'Applications',
      // Count of applications per status
      data: Object.values({{ status_count|safe }}),
      backgroundColor: ['#c1884e', '#bf6e15', '#698c8e', '#305f6d', '#f2e0bf'],
    }]
  };
  var ctx1 = document.getElementById('statusChart').getContext('2d');
  var statusChart = new Chart(ctx1, {
    type: 'doughnut',
    data: statusData
  });

  // Chart for Job Applications by Employment Type
  var employmentTypeData = {
    // Employment types as labels
    labels: Object.keys({{ employment_type_count|safe }}),
    datasets: [{
      label: 'Applications',
      // Count of applications per employment type
      data: Object.values({{ employment_type_count|safe }}),
      backgroundColor: ['#c1884e', '#bf6e15', '#698c8e', '#305f6d', '#f2e0bf'],
    }]
  };
  var ctx2 = document.getElementById('employmentTypeChart').getContext('2d');
  var employmentTypeChart = new Chart(ctx2, {
    type: 'doughnut',
    data: employmentTypeData
  });

  // Chart for Job Applications Over Time
var applicationsOverTimeData = {
    labels: ['Last Week', 'Last Month', 'Last 6 Months'],
    datasets: [{
        label: 'Number of Applications',
        data: [
            {{ applied_counts.last_week }},
            {{ applied_counts.last_month }},
            {{ applied_counts.last_six_months }}
        ],
        backgroundColor: ['#c1884e', '#bf6e15', '#698c8e'],
    }]
};

var ctx3 = document.getElementById('applicationsOverTimeChart').getContext('2d');
var applicationsOverTimeChart = new Chart(ctx3, {
    type: 'line',
    data: applicationsOverTimeData,
    options: {
        scales: {
            y: {
                beginAtZero: true,
                title: {
                    display: true,
                    text: 'Number of Applications'
                }
            },
            x: {
                title: {
                    display: true,
                    text: 'Time Period'
                }
            }
        }
    }
});
</script>

{% endblock content %}