{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="col-md-12 col-lg-10 col-xl-8 text-center mx-auto mb-2">
        <h1>Your form has been sent successfully</h1>
        <img src="{% static 'images/form-sent.jpg' %}" class="w-75 my-3 rounded-3 shadow" style="filter: brightness(0.8);"
        alt="" aria-label="Form Sent Successfully">
        <p>Thank you for getting in touch with us! Your message has been successfully sent, and we will get back to you as soon as possible. We appreciate your interest and look forward to assisting you!</p>
        <a href="{% url 'home' %}" class="primary-btn button btn"
            aria-label="Brings back to home page">Back Home</a>
    </div>
</div>
{% endblock content %}