{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="text-center">
        <h1>Your form has been sent successfully</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lacinia odio vitae vestibulum. Sed sit amet nisl sit amet libero interdum feugiat ut a odio. Proin tempor, orci vel pellentesque vehicula, eros elit blandit justo, vel sodales nulla ipsum non libero.
            Curabitur eget libero quis urna hendrerit sollicitudin. Nullam ac elit vel justo varius volutpat. Aliquam erat volutpat.</p>
        <a href="{% url 'home' %}" class="button btn"
            aria-label="Brings back to home page">Back to Home page</a>
    </div>
</div>
{% endblock content %}