{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mx-auto m-3">
      <h1>Applications</h1>
      <button type="button" class="primary-btn button shadow mt-2 mb-3 btn" data-bs-toggle="modal" data-bs-target="#taskModal">Add New Job</button>
    <div class="board py-2">
      <div class="column shadow rounded-3 p-2 my-2" id="newApp">
        <h2>New</h2>
        <hr>
        <div class="task-container">
          {% for application in applications %}
            {% if application.status in '["Draft","Applied"]' %}
              <div class="text-start task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{ application.status }}</span>
                </div>
        
                <div class="d-flex text-center">
                  <a href="{% url 'application_detail' application.id %}" class="new-appl-view text-decoration-none fw-bold px-2">View</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>        
      </div>

      <div class="column shadow rounded-3 p-2 my-2" id="in-progress">
        <h2>In Progress</h2>
        <hr>
        <div class="task-container">
          {% for application in applications %}
            {% if application.status in '["Under Review","Interview appointed","Interview appointed"]'%}
              <div class="task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{ application.status }}</span>
                </div>
        
                <a href="{% url 'application_detail' application.id %}" class="progress-appl-view text-decoration-none fw-bold px-2">View</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>

      <div class="column shadow rounded-3 p-2 my-2" id="done" ondrop="drop(event, 'done')" ondragover="allowDrop(event)">
        <h2>Closed</h2>
        <hr>
        <div class="task-container"> 
          {% for application in applications %}
            {% if application.status in '["Offer accepted", "Offered","Rejected"]' %}
              <div class="task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{application.status}}</span>
                </div>
        
                <a href="{% url 'application_detail' application.id %}" class="closed-appl-view text-decoration-none fw-bold px-2">View</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>        
      </div>
    </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="taskModal" tabindex="-1" aria-labelledby="taskModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="taskModalLabel">Add New Application</h5>
      </div>
      <div class="modal-body">
        <form id="taskForm">
          <div class="form-group">
            <label for="taskTitle">Job Position</label>
            <input type="text" class="form-control" id="taskTitle" required>
          </div>
          <div class="form-group">
            <label for="taskDescription">Description</label>
            <textarea class="form-control" id="taskDescription" required></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="secondary-btn button shadow mt-2 mb-3 btn" data-bs-dismiss="modal">Close</button>
        <button type="button" class="primary-btn button shadow mt-2 mb-3 btn" id="submitApp">Add Application</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}