{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col text-center mx-auto m-3">
      <h1>Applications</h1>
      <a href="{% url 'add_application' %}" class="primary-btn button shadow mt-2 mb-3 btn">Add New Job</a>
    <div class="board py-2">
      <div class="column shadow rounded-3 p-2 my-2" id="newApp">
        <h2>New</h2>
        <hr>
        <div class="task-container">
          {% for application in applications %}
            {% if application.status in '["Draft","Applied"]' %}
              <div class="text-start task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{ application.status }}</span>
                </div>
        
                <div class="d-flex text-center">
                  <a href="{% url 'application_detail' application.id %}" class="new-appl-view text-decoration-none fw-bold px-2">View</a>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        </div>        
      </div>

      <div class="column shadow rounded-3 p-2 my-2" id="in-progress">
        <h2>In Progress</h2>
        <hr>
        <div class="task-container">
          {% for application in applications %}
            {% if application.status in '["Under Review","Interview appointed","Interview appointed"]'%}
              <div class="task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{ application.status }}</span>
                </div>
        
                <a href="{% url 'application_detail' application.id %}" class="progress-appl-view text-decoration-none fw-bold px-2">View</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
        
      </div>

      <div class="column shadow rounded-3 p-2 my-2" id="done">
        <h2>Closed</h2>
        <hr>
        <div class="task-container"> 
          {% for application in applications %}
            {% if application.status in '["Offer accepted", "Offered","Rejected"]' %}
              <div class="task" id="task-{{ application.id }}">
                <div class="field">
                  <span class="label">Company</span>
                  <span class="value">{{ application.company_name }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Position</span>
                  <span class="value">{{ application.position }}</span>
                </div>
        
                <div class="field">
                  <span class="label">Status</span>
                  <span class="value">{{application.status}}</span>
                </div>
        
                <a href="{% url 'application_detail' application.id %}" class="closed-appl-view text-decoration-none fw-bold px-2">View</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>        
      </div>
    </div>
    </div>
  </div>
</div>

{% endblock %}